body {
  background: #e9ebee;
}
.wrapper {
  max-width: 500px;
  height: 100%;
  background: white;
  box-sizing: border-box;
  margin: auto;
}
.post {
  width: 100%;
}

.footer {
  height: 50px;
  background: white;
}